<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <!-- (1) Optimize for mobile versions: http://goo.gl/EOpFl -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- (1) force latest IE rendering engine: bit.ly/1c8EiC9 -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
    <meta name="description" content="{{ site.description }}" />

    <meta name="HandheldFriendly" content="True" />
    <meta name="MobileOptimized" content="320" />
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">

    {% for meta in page.metadata %}
        <meta {% if meta.name %}name="{{ meta.name }}" {% endif %}{% if meta.http_equiv %}http-equiv="{{ meta.http_equiv }}" {% endif %}{% if meta.charset %}charset="{{ meta.charset }}" {% endif %}{% if meta.property %}property="{{ meta.property }}" {% endif %}{% if meta.content %}content="{{ meta.content }}" {% endif %}/>
    {% endfor %}

    <link rel="canonical" href="{{ page.url() }}">
    <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700&amp;subset=latin,latin-ext' rel='stylesheet'>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,700,800,600&amp;subset=latin,latin-ext' rel='stylesheet'>

    {% do assets.addCss('theme://css/font-awesome.min.css') %}
    {% do assets.addCss('theme://css/vendor/normalizeb146.css') %}
    {% do assets.addCss('theme://css/vendor/foundation.minb146.css') %}
    {% do assets.addCss('theme://css/styleb146.css') %}
    {% do assets.addCss('theme://css/postb146.css') %}
    {% do assets.addJs('theme://js/vendor/modernizrb146.js') %}


    {{ assets.css() }}

    <!-- Icons -->
    <!-- 16x16 -->
    <link rel="shortcut icon" href="{{ theme_url }}/images/favicon.ico">
    <!-- 32x32 -->
    <link rel="shortcut icon" href="{{ theme_url }}/images/logo.png">
    <!-- 57x57 (precomposed) for iPhone 3GS, pre-2011 iPod Touch and older Android devices -->
    <link rel="apple-touch-icon-precomposed" href="{{ theme_url }}/images/apple-touch-icon-precomposed.png">
    <!-- 72x72 (precomposed) for 1st generation iPad, iPad 2 and iPad mini -->
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{ theme_url }}/images/apple-touch-icon-72x72-precomposed.png">
    <!-- 114x114 (precomposed) for iPhone 4, 4S, 5 and post-2011 iPod Touch -->
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{ theme_url }}/images/apple-touch-icon-114x114-precomposed.png">
    <!-- 144x144 (precomposed) for iPad 3rd and 4th generation -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ theme_url }}/images/apple-touch-icon-144x144-precomposed.png">
</head>
{% block body %}
    <body class="home-template" itemscope itemtype="http://schema.org/WebPage">
    {% endblock %}
    {% set home = pages.find(config.system.home.alias) %}
        {% block header %}
            <header class="summer-site-head">
                <div class="summer-site-head-menu">
                    <a class="summer-blog-logo" href="{{ base_url_absolute }}"><img src="{{ base_url_relative }}{{ site.logo }}" alt="Blog Logo" /></a>
                    {% include 'partials/navigation.html.twig' %}
                    <div class="clearfix"></div>
                </div>
                <div class="summer-site-head-content" >
                    <div class="summer-site-head-bg"></div>
                    <h1 class="summer-blog-title">
                        <span class="summer-site-head-title-bg">
                            {{ site.title }}
                        </span>
                    </h1>
                    <h2 class="summer-blog-description">{{ site.description }}</h2>
                </div>
            </header>
        {% endblock %}

        {% block content %}
            {{ content }}
        {% endblock %}

        {% block footer %}
            {% include 'partials/footer.html.twig' %}
        {% endblock %}

        {% include 'partials/scripts.html.twig' %}
    </body>
    </html>
