<footer class="summer-site-footer">
    <div class="copyright">
         <section>All content copyright <a href="{{ base_url_absolute }}">{{ site.owner.name }}</a> &copy; All rights reserved.</section>
         <section>Proudly published with <a class="icon-ghost" href="https://jekyllrb.com/">Grav</a></section>
    </div>
    <div class="social-icons">
        
        {% if site.owner.twitter %}
        <a href="https://twitter.com/{{ site.owner.twitter }}">
            <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x fa-inverse"></i>
                <i class="fa fa-twitter fa-stack-1x"></i>
            </span>
        </a>
        {% endif %}
        {% if site.owner.google_plus %}
        <a href="{{ site.owner.google_plus }}">
            <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x fa-inverse"></i>
                <i class="fa fa-google-plus fa-stack-1x"></i>
            </span>
        </a>
        {% endif %}
        {% if site.owner.instagram %}
        <a href="https://instagram.com/{{ site.owner.instagram }}">
            <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x fa-inverse"></i>
                <i class="fa fa-instagram fa-stack-1x"></i>
            </span>
        </a>
        {% endif %}
        {% if site.owner.github %}
        <a href="https://github.com/{{ site.owner.github }}">
            <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x fa-inverse"></i>
                <i class="fa fa-github fa-stack-1x"></i>
            </span>
        </a>
        {% endif %}
        {% if site.owner.facebook %}
        <a href="https://facebook.com/{{ site.owner.facebook }}">
            <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x fa-inverse"></i>
                <i class="fa fa-facebook fa-stack-1x"></i>
            </span>
        </a>
        {% endif %}
    </div>
    
    <div class="cf"></div>
</footer>