{% embed 'partials/base.html.twig' %}
{% block body %}
<body class="post-template page" itemscope itemtype="https://schema.org/WebPage">
{% endblock %}
{% block header %}{% endblock %}

{% block content %}
    <main id="summer-page-container" class="summer-page-container" role="main">
        <header class="summer-page-header">
            <div class="summer-page-menu-header">
                <a class="summer-blog-logo" href="{{ base_url_absolute }}">
                    <img src="{{ base_url_relative }}{{ site.logo }}" alt="Blog Logo" />
                </a>

                {% include 'partials/navigation.html.twig' %}
            </div>
            <div class="summer-page-title row">
                <div class="small-12 columns">
                    <h1>{{ page.title }}</h1>
                </div>
            </div>
        </header>
        <article class="summer-page-content">
        <div>
          {% set tags = taxonomy.taxonomy['tag'] %}

            <ul class="tag-box inline">
              {% for tag, items in tags %}
                <li><a href="#{{ tag }}">{{ tag }} <span>{{ items|length }}</span></a></li>
              {% endfor %}
            </ul>

            {% for tag, items in tags %}
              <article>
                <h2 id="{{ tag }}">{{ tag }}</h2>
                <ul class="post-list">
                  {% for path, slug in items %}
                    {% set post = grav['pages'].get(path) %}
                      {% if post.title != null %}
                        <li><a href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}<span class="entry-date"><time datetime="{{ post.date | date(site.date_long) }}">{{ post.date | date("d M Y") }}</time></a></li>
                      {% endif %}
                    {% endfor %}
                  </ul>
                </article><!-- /.hentry -->
              {% endfor %}

            </div>
          </article>
          <div class="cf"></div>
          {% include 'partials/footer.html.twig' %}
      </main>
{% endblock %}
{% block footer %}{% endblock %}
{% endembed %}
