{% embed 'partials/base.html.twig' %}
{% block body %}
<body class="post-template page" itemscope itemtype="http://schema.org/WebPage">
{% endblock %}
{% block header %}{% endblock %}

{% block content %}
    <main id="summer-page-container" class="summer-page-container" role="main">
        <header class="summer-page-header">
            <div class="summer-page-menu-header">
                <a class="summer-blog-logo" href="{{ base_url_absolute }}">
                    <img src="{{ base_url_relative }}{{ site.logo }}" alt="Blog Logo" />
                </a>

                {% include 'partials/navigation.html.twig' %}
            </div>
            <div class="summer-page-title row">
                <div class="small-12 columns">
                    <h1>{{ page.title }}</h1>
                </div>
            </div>
        </header>
        <article class="summer-page-content">
            <div>{% set featured = taxonomy.findTaxonomy({'tag':'featured'}) %}
                <ul class="post-list">
                    {% for post in featured %}
                      <li><article><i class="fa fa-star-half-o"></i> <a href="{{ post.url }}">{{ post.title }} <span class="entry-date"><time datetime="{{ post.date | date(site.date_long) }}">{{ post.date | date("d M Y") }}</time></span></a></article></li>
                  {% endfor %}
              </ul></div>
          </article>
          <div class="cf"></div>
          {% include 'partials/footer.html.twig' %}
      </main>
{% endblock %}
{% block footer %}{% endblock %}
{% endembed %}
